form{

}

label{

}

input[type="text"],
input[type="email"],
input[type="tel"],
input[type="time"],
input[type="search"],
input[type="number"],
input[type="url"],
input[type="password"]
{
	@include text;
	color: $color-text;
	&:focus{
		box-shadow: none;
	}
}

textarea{
	@include text;
	&:focus{
		box-shadow: none;
	}
}

input[type="file"]{

}

input[type="submit"],
input[type="reset"]{
	@include text;
}