.row--end {
    margin: 0 !important;
    padding: 0 !important;
}

.container {
  width: 100%;
  max-width:none;
  padding: 0;
  height: 100%;
}

div.container div#left_panel {
  float:left;
  width: 50%;
  position: relative;
  height: 100%;
  padding: 1rem;
  background-color: #4d4757;
  background-image: url(https://www.transparenttextures.com/patterns/45-degree-fabric-light.png);
}

div.container div#right_panel {
  float:right;
  width: 50%;
  padding: 1rem;
  position: relative;
  background: black;
  height: 100%;
}
