.main {
    background-color: #4d4757;
    background-image: url("https://www.transparenttextures.com/patterns/45-degree-fabric-light.png");
    position: absolute;
    width: 100%;
    height: 100vh;
}
