.navigation{
	ul{
		display: flex;
		align-items: center;
		justify-content: flex-end;
		list-style: none;
		margin: 0;
		padding: 0;
		li{
			position: relative;
			+li{
				margin-left: 15px;
			}
			a{
				&.active{

				}
				&:hover{

				}
			}
		}
	}
}


/*=
	MOBILE
-----------------------------------------------------------*/
.header__mobile{
	width: 100%;
	position: fixed;
	display: none;
	background-color: white;
	z-index: 150;
	@include media(small){
		display: block;
		padding-top: 10px;
	}
	@include media(medium){
		display: block;
		padding-top: 20px;
	}
}

.header__mobile__container{
	width: 100%;
	padding-left: 6%;
	padding-right: 6%;
}

.header__mobile__menu{
	width: 100%;
	position: relative;
	display: flex;
	justify-content: flex-end;
	button{
		border: 0;
		border-radius: 0;
		height: auto;
		padding: 5px;
		background-color: transparent;
		cursor: pointer;
		svg{
			width: 30px;
			height: 30px;
			margin-top: 10px;
			.st0{fill:black;}
			.st1{fill:black;}
		}
	}
}


.header__mobile__logo{
	width: 100%;

}
