<div class="nav__container">
  <div class="row">
    <div class="col-4">
      <div class="logo"> logo </div>
    </div>

    <div class="col-8">
      <nav class="navbar">
        <ul>
              <li><a href=""> test 1 </a></li>
              <li><a href=""> test 2 </a></li>
              <li><a href=""> test 3</a></li>
              <li><a href=""> test 4 </a></li>
              <li><a href=""> test 4 </a></li>
              <li><a href=""> test 4 </a></li>
            </ul>
          </nav>
      </div>
  </div>
</div>



