<div class="nav__container">
  <div class="row">

    <div class="col-4">
      <div class="lef-side">
          <nav class="navbar">
            <ul>
              <li><a href=""> test 1 </a></li>
              <li>
                <a href=""> 
                </a>
              </li>
              <li><a href=""> test 3</a></li>
            </ul>
          </nav>
      </div>
    </div>

    <div class="col-4">
      <div class="center-side">
          <div class="logo"> stu - this - card. </div>
      </div>
    </div>

    <div class="col-4">
      <div class="right-side">
        
      </div>
    </div>

  </div>
</div>



